html {
    background-image: url(https://www.medicalnewstoday.com/content/images/articles/325/325553/some-common-drugs-may-increase-dementia-risk.jpg
    );
}
h1 {
    color: brown;

}
p {
    color: brown;
}
ul li {
    color: brown;
}